<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Victor's projects</title>
  </head>
  <body>
    {{> header}}
    <ul>
      <li><a>Project 1</a></li>
      <li><a>Project 2</a></li>
      <li><a>Project 3</a></li>
      <li><a>Project 4</a></li>
      <li><a>Project 5</a></li>
      <li><a>Project 6</a></li>
    </ul>
    {{> footer}}
  </body>
</html>
